@font-face {
    font-family: 'Fraunces-Regular';
    src: url(../fonts/Fraunces-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url(../fonts/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: 'LibreFranklin-Regular';
    src: url(../fonts/LibreFranklin-Regular.ttf);
}

@font-face {
    font-family: 'LibreFranklin-Bold';
    src: url(../fonts/LibreFranklin-Bold.ttf);
}

@font-face {
    font-family: 'RedHatDisplay-Regular';
    src: url(../fonts/RedHatDisplay-Regular.ttf);
}

@font-face {
    font-family: 'RedHatDisplay-Bold';
    src: url(../fonts/RedHatDisplay-Bold.ttf);
}

.bg-dark {
    background-color: #748be8 !important;
}

.c-container {
    padding-right: 0px;
    padding-left: 0px;
}

.c-carousel-caption {
    color: black;
}

.text-container {
    max-width: 1000px;
}

.front-page-text {
    padding: 20px;
}

.footer {
    background-color: #748be8;
    height: 60px;
    color: white;
    font-size: .8rem;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    width: 100;
}

.control-width {
    max-width: 1200px;
}

.card-container {
    padding-bottom: 20px;
}

.card-footer-np {
    height: 60px;
}

.btn-primary {
    background-color: transparent;
    color: black;
    border-color: black;
}

.btn-primary:hover{
    color: white;
    background-color: #748be8;
    border: #748be8;
}

.modal-content {
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #748be8;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.page-title {
    margin-top: 30px;
}

/* TYPE HIERARCHIES */

.thtable {
    background-color: #f3f3f3;
    padding: 20px;
}

.th-row {
    align-items: center;
    justify-content: center;
    padding: 30px;
}


/* HIERARCHY ONE: PAIRED TYPEFACES */

.h1paired {
    font-family: 'Fraunces-Regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48.83px;
}

.h2paired {
    font-family: 'Fraunces-Regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39.06px;
}

.h3paired {
    font-family: 'Fraunces-Regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 31.25px;
}

.h4paired {
    font-family: 'Fraunces-Regular', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.boldedpaired {
    font-family: 'NunitoSans-Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.linkpaired {
    font-family: 'NunitoSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}

.bodycopy-paired {
    font-family: 'NunitoSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 90%;

}

.bodytext-paired {
    font-family: 'NunitoSans-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

/* HIERARCHY TWO: LIBRE FRANKLIN */

.h1-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28.83px;
}

.h2-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25.63px;
}

.h3-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22.78px;
}

.h4-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20.25px;
}

.bolded-lf {
    font-family: 'LibreFranklin-Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.link-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}

.bodycopy-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 90%;

}

.bodytext-lf {
    font-family: 'LibreFranklin-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

/* HIERARCHY THREE: RED HAT DISPLAY */

.h1-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 67.34px;
}

.h2-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50.52px;
}

.h3-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 37.90px;
}

.h4-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28.43px;
}

.bolded-rhd {
    font-family: 'RedHatDisplay-Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.link-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    
}

.bodycopy-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 90%;

}

.bodytext-rhd {
    font-family: 'RedHatDisplay-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.typeinfo-title {
    font-weight: bold;
    text-transform: uppercase;
}

.typeinfo {
    margin-left: 40px;
    color: #959ba7;
}


