.bg-dark {
    background-color: #748be8 !important;
}

.c-container {
    padding-right: 0px;
    padding-left: 0px;
}

.c-carousel-caption {
    color: black;
}

.text-container {
    max-width: 1000px;
}

.front-page-text {
    padding: 20px;
}

.footer {
    background-color: #748be8;
    height: 60px;
    color: white;
    font-size: .8rem;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
}

.control-width {
    max-width: 1200px;
}

.card-container {
    padding-bottom: 20px;
}

.card-footer-np {
    height: 60px;
}

.btn-primary {
    background-color: transparent;
    color: black;
    border-color: black;
}

.btn-primary:hover{
    color: white;
    background-color: #748be8;
    border: #748be8;
}

.modal-content {
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #748be8;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.page-title {
    margin-top: 30px;
}

